html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
}

/* Ortalayan container */
#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Canvas */
canvas {
  display: block;
}
