html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
}

/* Ortalayan container */
#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Canvas */
canvas {
  display: block;
}

button {
  position: absolute;
}

.home-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background: rgba(139, 36, 44, 0.7);
  backdrop-filter: blur(5px);
  color: #d6d6d6;
  padding: 10px 16px;
  font-family: 'Perfect DOS VGA', monospace;
  border: 1px solid #ff4444;
}
